body {
    background-image: url('../images/lytlogoweb.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.site-container {
    background-color: rgba(255, 255, 255, 0.6); /* Add a semi-transparent white background to the container */
}
